############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

############################
# Virtual Environment
############################
anemia_env/
venv/
env/
.venv/

############################
# Dataset (large files)
############################
dataset/
!dataset/README.md

############################
# Trained Models
############################
models/*.pt
models/*.pth
*.pt
*.pth
*.onnx

############################
# YOLO Training Outputs
############################
runs/
yolo_runs/

############################
# Outputs / Predictions
############################
outputs/
predictions/
logs/

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# IDE files
############################
.vscode/
.idea/

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Build files
############################
build/
dist/
*.egg-info/

############################
# Temporary files
############################
*.log
*.tmp
*.cache